In [79]:
import os
import sys 
import json
import pickle

import torch
import anndata as ad
import numpy as np
import pandas as pd
import scanpy as sc

from scipy import io

## lymph_node

In [3]:
lymph_node_PATH_1 = "/home/shaliu_fu/joint_bench/demo_notebook/input/spatial/Data_SpatialGlue/Dataset11_Human_Lymph_Node_A1"
lymph_node_PATH_2 = "/home/shaliu_fu/joint_bench/demo_notebook/input/spatial/Data_SpatialGlue/Dataset12_Human_Lymph_Node_D1"

In [4]:
lymph_node_rna_1 = sc.read_h5ad("{}/adata_RNA.h5ad".format(lymph_node_PATH_1))
lymph_node_rna_2 = sc.read_h5ad("{}/adata_RNA.h5ad".format(lymph_node_PATH_2))

/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [5]:
print(lymph_node_rna_1)
print(lymph_node_rna_2)

AnnData object with n_obs × n_vars = 3484 × 18085
    var: 'gene_ids', 'feature_types', 'genome'
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 3359 × 18085
    var: 'gene_ids', 'feature_types', 'genome'
    obsm: 'spatial'

In [6]:
adata = lymph_node_rna_1
adata.var['gene_name'] = adata.var_names
adata.var_names = adata.var['gene_ids']
lymph_node_rna_1 = adata

adata = lymph_node_rna_2
adata.var['gene_name'] = adata.var_names
adata.var_names = adata.var['gene_ids']
lymph_node_rna_2 = adata

In [7]:
lymph_node_rna_1.obs_names = [name + "_1" for name in lymph_node_rna_1.obs_names]
lymph_node_rna_2.obs_names = [name + "_2" for name in lymph_node_rna_2.obs_names]

In [8]:
print(lymph_node_rna_1)
print(lymph_node_rna_2)

AnnData object with n_obs × n_vars = 3484 × 18085
    var: 'gene_ids', 'feature_types', 'genome', 'gene_name'
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 3359 × 18085
    var: 'gene_ids', 'feature_types', 'genome', 'gene_name'
    obsm: 'spatial'

In [17]:
lymph_node_rna_1.obs['batch'] = 'A1'
lymph_node_rna_2.obs['batch'] = 'D1'

In [18]:
lymph_node_rna = ad.concat([lymph_node_rna_1, lymph_node_rna_2], axis=0)
lymph_node_rna.var = lymph_node_rna_1.var

In [19]:
lymph_node_rna

AnnData object with n_obs × n_vars = 6843 × 18085
    obs: 'batch'
    var: 'gene_ids', 'feature_types', 'genome', 'gene_name'
    obsm: 'spatial'

In [20]:
lymph_node_rna.var

                        gene_ids    feature_types  genome gene_name
gene_ids
ENSG00000187634  ENSG00000187634  Gene Expression  GRCh38    SAMD11
ENSG00000188976  ENSG00000188976  Gene Expression  GRCh38     NOC2L
ENSG00000187961  ENSG00000187961  Gene Expression  GRCh38    KLHL17
ENSG00000187583  ENSG00000187583  Gene Expression  GRCh38   PLEKHN1
ENSG00000187642  ENSG00000187642  Gene Expression  GRCh38     PERM1
...                          ...              ...     ...       ...
ENSG00000212907  ENSG00000212907  Gene Expression  GRCh38   MT-ND4L
ENSG00000198886  ENSG00000198886  Gene Expression  GRCh38    MT-ND4
ENSG00000198786  ENSG00000198786  Gene Expression  GRCh38    MT-ND5
ENSG00000198695  ENSG00000198695  Gene Expression  GRCh38    MT-ND6
ENSG00000198727  ENSG00000198727  Gene Expression  GRCh38    MT-CYB

[18085 rows x 4 columns]

In [21]:
output_path = "/home/wsg/BM/data/SPATIAL/RNA+ADT/lymph_node"

lymph_node_rna.write_h5ad("{}/lymph_node-CITE_seq_RNA-counts.h5ad".format(output_path))

In [22]:
lymph_node_adt_1 = sc.read_h5ad("{}/adata_ADT.h5ad".format(lymph_node_PATH_1))
lymph_node_adt_2 = sc.read_h5ad("{}/adata_ADT.h5ad".format(lymph_node_PATH_2))

/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [23]:
print(lymph_node_adt_1.shape)
print(lymph_node_adt_2.shape)

(3484, 31)
(3359, 31)

In [24]:
lymph_node_adt_1.X.toarray()

array([[25227., 28409.,  7045., ..., 31818., 16818.,  1363.],
       [21833., 23666.,  8833., ..., 22833., 16333.,  1500.],
       [19010., 30989.,  3516., ..., 29450., 13846.,  1098.],
       ...,
       [29818., 32000., 10363., ..., 31636., 17090.,  1818.],
       [21428., 44092.,  4092., ..., 59498., 36100.,  1660.],
       [27058., 34901.,  7843., ..., 30980., 20392.,   784.]],
      dtype=float32)

In [25]:
adata = lymph_node_adt_1
adata.var['adt_name'] = adata.var_names
adata.var_names = adata.var['gene_ids']
lymph_node_adt_1 = adata

adata = lymph_node_adt_2
adata.var['adt_name'] = adata.var_names
adata.var_names = adata.var['gene_ids']
lymph_node_adt_2 = adata

In [26]:
lymph_node_adt_1.obs_names = [name + "_1" for name in lymph_node_adt_1.obs_names]
lymph_node_adt_2.obs_names = [name + "_2" for name in lymph_node_adt_2.obs_names]

In [27]:
lymph_node_adt_1.obs['batch'] = 'A1'
lymph_node_adt_2.obs['batch'] = 'D1'

In [28]:
lymph_node_adt = ad.concat([lymph_node_adt_1, lymph_node_adt_2], axis=0)

In [29]:
lymph_node_adt.var = lymph_node_adt_1.var
lymph_node_adt.var_names = lymph_node_adt.var['adt_name']

In [30]:
gene_tab = pd.read_csv("/home/wsg/BM/pipeline/config/gencode.v41.gtf.uniq.txt", delimiter=' ', header=None)
gene_tab['gene_ids'] = gene_tab[0].str.split('.').str[0]
gene_tab

adt_new_var = pd.merge(lymph_node_adt.var, gene_tab, left_on='gene_ids', right_on=1, how='left')
adt_new_var = adt_new_var.drop_duplicates('gene_ids')
adt_new_var = adt_new_var.drop(0, axis=1)
adt_new_var = adt_new_var.drop(1, axis=1)
adt_new_var.astype(str)
adt_new_var = adt_new_var.set_index('adt_name')

lymph_node_adt.var = adt_new_var
lymph_node_adt = lymph_node_adt[:, ~lymph_node_adt.var['gene_ids_y'].isna()]
lymph_node_adt.var = lymph_node_adt.var.set_index('gene_ids_y')

In [34]:
output_path = "/home/wsg/BM/data/SPATIAL/RNA+ADT/lymph_node"

lymph_node_adt.write_h5ad("{}/lymph_node-CITE_seq_ADT-counts.h5ad".format(output_path))

### human_lymph_node_A1

In [191]:
lymph_node_PATH = "/home/shaliu_fu/joint_bench/demo_notebook/input/spatial/human_lymph_node"

In [192]:
lymph_node_rna = sc.read_h5ad("{}/adata_RNA.h5ad".format(lymph_node_PATH))
lymph_node_adt = sc.read_h5ad("{}/adata_ADT.h5ad".format(lymph_node_PATH_1))

/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [193]:
metadata = pd.read_csv("{}/annotation.csv".format(lymph_node_PATH))
metadata.columns = ["barcode", "cell_type"]
metadata.index = metadata["barcode"]

In [194]:
lymph_node_rna.obs = metadata

In [195]:
lymph_node_adt.obs = metadata

In [196]:
lymph_node_rna.var

                gene_ids    feature_types  genome
SAMD11   ENSG00000187634  Gene Expression  GRCh38
NOC2L    ENSG00000188976  Gene Expression  GRCh38
KLHL17   ENSG00000187961  Gene Expression  GRCh38
PLEKHN1  ENSG00000187583  Gene Expression  GRCh38
PERM1    ENSG00000187642  Gene Expression  GRCh38
...                  ...              ...     ...
MT-ND4L  ENSG00000212907  Gene Expression  GRCh38
MT-ND4   ENSG00000198886  Gene Expression  GRCh38
MT-ND5   ENSG00000198786  Gene Expression  GRCh38
MT-ND6   ENSG00000198695  Gene Expression  GRCh38
MT-CYB   ENSG00000198727  Gene Expression  GRCh38

[18085 rows x 3 columns]

In [28]:
output_path = "/home/wsg/BM/data/SPATIAL/RNA+ADT/lymph_node_A1"

lymph_node_rna.write_h5ad("{}/lymph_node-CITE_seq_RNA-counts.h5ad".format(output_path))
lymph_node_adt.write_h5ad("{}/lymph_node-CITE_seq_ADT-counts.h5ad".format(output_path))

## thymus

In [35]:
thymus_PATH_1 = "/home/shaliu_fu/joint_bench/demo_notebook/input/spatial/Data_SpatialGlue/Dataset3_Mouse_Thymus1"
thymus_PATH_2 = "/home/shaliu_fu/joint_bench/demo_notebook/input/spatial/Data_SpatialGlue/Dataset4_Mouse_Thymus2"
thymus_PATH_3 = "/home/shaliu_fu/joint_bench/demo_notebook/input/spatial/Data_SpatialGlue/Dataset5_Mouse_Thymus3"
thymus_PATH_4 = "/home/shaliu_fu/joint_bench/demo_notebook/input/spatial/Data_SpatialGlue/Dataset6_Mouse_Thymus4"

In [36]:
thymus_rna_1 = sc.read_h5ad("{}/adata_RNA.h5ad".format(thymus_PATH_1))
thymus_rna_2 = sc.read_h5ad("{}/adata_RNA.h5ad".format(thymus_PATH_2))
thymus_rna_3 = sc.read_h5ad("{}/adata_RNA.h5ad".format(thymus_PATH_3))
thymus_rna_4 = sc.read_h5ad("{}/adata_RNA.h5ad".format(thymus_PATH_4))

In [37]:
print(thymus_rna_1)
print(thymus_rna_2)
print(thymus_rna_3)
print(thymus_rna_4)

AnnData object with n_obs × n_vars = 4697 × 23622
    obs: 'orig.ident', 'x', 'y'
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 4253 × 23529
    obs: 'orig.ident', 'x', 'y'
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 4646 × 23960
    obs: 'orig.ident', 'x', 'y'
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 4228 × 23221
    obs: 'orig.ident', 'x', 'y'
    obsm: 'spatial'

In [38]:
thymus_rna_1.obs_names = [name + "_1" for name in thymus_rna_1.obs_names]
thymus_rna_2.obs_names = [name + "_2" for name in thymus_rna_2.obs_names]
thymus_rna_2.obs_names = [name + "_3" for name in thymus_rna_3.obs_names]
thymus_rna_4.obs_names = [name + "_4" for name in thymus_rna_4.obs_names]

In [39]:
thymus_rna_1.obs['batch'] = 'thymus_1'
thymus_rna_2.obs['batch'] = 'thymus_2'
thymus_rna_3.obs['batch'] = 'thymus_3'
thymus_rna_4.obs['batch'] = 'thymus_4'

In [40]:
all_vars = pd.unique(thymus_rna_1.var_names.tolist() + thymus_rna_2.var_names.tolist() + 
                     thymus_rna_3.var_names.tolist() + thymus_rna_4.var_names.tolist())
len(all_vars)

26857

In [41]:
def align_anndata_vars(adata, all_vars):
    from scipy.sparse import lil_matrix
    aligned_data = lil_matrix((adata.n_obs, len(all_vars)))
    
    var_index_map = {var: idx for idx, var in enumerate(all_vars)}
    
    for var_name in adata.var_names:
        aligned_data[:, var_index_map[var_name]] = adata[:, var_name].X
    
    return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))

thymus_rna_1_aligned = align_anndata_vars(thymus_rna_1, all_vars)
thymus_rna_2_aligned = align_anndata_vars(thymus_rna_2, all_vars)
thymus_rna_3_aligned = align_anndata_vars(thymus_rna_3, all_vars)
thymus_rna_4_aligned = align_anndata_vars(thymus_rna_4, all_vars)

/tmp/ipykernel_201194/4083004763.py:10: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))
/tmp/ipykernel_201194/4083004763.py:10: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))
/tmp/ipykernel_201194/4083004763.py:10: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))
/tmp/ipykernel_201194/4083004763.py:10: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))

In [42]:
thymus_rna_1_aligned.obsm['spatial'] = thymus_rna_1.obsm['spatial']
thymus_rna_2_aligned.obsm['spatial'] = thymus_rna_2.obsm['spatial']
thymus_rna_3_aligned.obsm['spatial'] = thymus_rna_3.obsm['spatial']
thymus_rna_4_aligned.obsm['spatial'] = thymus_rna_4.obsm['spatial']

In [43]:
thymus_rna = ad.concat([thymus_rna_1_aligned, thymus_rna_2_aligned, thymus_rna_3_aligned, thymus_rna_4_aligned], axis=0)

In [45]:
thymus_rna.obs

         orig.ident      x      y     batch
0_22_1       sample   8919  13270  thymus_1
0_33_1       sample   8919  14370  thymus_1
0_40_1       sample   8919  15070  thymus_1
0_41_1       sample   8919  15170  thymus_1
0_42_1       sample   8919  15270  thymus_1
...             ...    ...    ...       ...
59_113_4     sample  16086  19100  thymus_4
52_82_4      sample  15386  16000  thymus_4
30_23_4      sample  13186  10100  thymus_4
42_88_4      sample  14386  16600  thymus_4
36_31_4      sample  13786  10900  thymus_4

[17824 rows x 4 columns]

In [46]:
output_path = "/home/wsg/BM/data/SPATIAL/RNA+ADT/thymus"
thymus_rna.write_h5ad("{}/thymus-CITE_seq-raw-RNA-counts.h5ad".format(output_path))

In [47]:
thymus_adt_1 = sc.read_h5ad("{}/adata_ADT.h5ad".format(thymus_PATH_1))
thymus_adt_2 = sc.read_h5ad("{}/adata_ADT.h5ad".format(thymus_PATH_2))
thymus_adt_3 = sc.read_h5ad("{}/adata_ADT.h5ad".format(thymus_PATH_3))
thymus_adt_4 = sc.read_h5ad("{}/adata_ADT.h5ad".format(thymus_PATH_4))

In [48]:
print(thymus_adt_1)
print(thymus_adt_2)
print(thymus_adt_3)
print(thymus_adt_4)

AnnData object with n_obs × n_vars = 4697 × 51
    obs: 'orig.ident', 'x', 'y'
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 4253 × 19
    obs: 'orig.ident', 'x', 'y'
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 4646 × 19
    obs: 'orig.ident', 'x', 'y'
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 4228 × 19
    obs: 'orig.ident', 'x', 'y'
    obsm: 'spatial'

In [49]:
thymus_adt_1.obs_names = [name + "_1" for name in thymus_adt_1.obs_names]
thymus_adt_2.obs_names = [name + "_2" for name in thymus_adt_2.obs_names]
thymus_adt_3.obs_names = [name + "_3" for name in thymus_adt_3.obs_names]
thymus_adt_4.obs_names = [name + "_4" for name in thymus_adt_4.obs_names]

In [51]:
thymus_adt_1.obs['batch'] = 'thymus_1'
thymus_adt_2.obs['batch'] = 'thymus_2'
thymus_adt_3.obs['batch'] = 'thymus_3'
thymus_adt_4.obs['batch'] = 'thymus_4'

In [52]:
def rename(adata):    
    import re
    new_var_names = []
    for name in adata.var_names:
        parts = re.split('[-_]', name)
        if '-'.join(parts) == 'Ms-Hu-CD11b':
            parts = re.split('[-_]', 'mouse-human-CD11b')
        elif parts[0] == 'Mouse':
            parts[0] = 'mouse'
        elif parts[0] == 'Rat':
            parts[0] = 'rat'
        elif parts[0] == 'Human':
            parts[0] = 'human'
        new_name = '-'.join(parts)
        new_var_names.append(new_name)
    adata.var_names = new_var_names
    return adata

In [53]:
print(thymus_adt_1.shape)
print(thymus_adt_2.shape)
print(thymus_adt_3.shape)
print(thymus_adt_4.shape)

(4697, 51)
(4253, 19)
(4646, 19)
(4228, 19)

In [54]:
print(thymus_adt_1.var_names)
print(thymus_adt_2.var_names)
print(thymus_adt_3.var_names)
print(thymus_adt_4.var_names)

Index(['Mouse-CD8a', 'Mouse-CD4', 'Mouse-CD68', 'Mouse-CD29', 'Mouse-CD3',
       'Mouse-CD19', 'Mouse-CD31-Pecam', 'Rat-IgG2b', 'Mouse-CD38',
       'Mouse-CD45R-B220', 'Mouse-IgG2a', 'Mouse-F480', 'Mouse-CD169',
       'Mouse-IgD', 'Mouse-CD140a', 'Mouse-CX3CR1', 'Mouse-CD163',
       'Mouse-CD304-Neuropilin-1', 'Mouse-Ly-6C', 'Mouse-CD226-DNAM-1',
       'Mouse-P2RY12', 'Mouse-P2X7R', 'Human-CD8', 'Mouse-CD14', 'Mouse-CXCR4',
       'Mouse-CD79b-Igb', 'Mouse-CD335-NKp46', 'Ms-Hu-CD11b', 'Mouse-CD44',
       'Mouse-IgG1', 'Human-CD11c', 'Human-CD56', 'Mouse-IgG2b', 'Human-IgG',
       'Mouse-CD88-C5aR', 'Mouse-CD5', 'Human-PD-1', 'Mouse-BST-1',
       'Human-CD3', 'Mouse-CD90-2', 'Mouse-Ly-6G', 'Human-CD20', 'Human-CD11b',
       'Human-CD19', 'Mouse-CD11c', 'Mouse-IgM', 'Mouse-CD40', 'Rat-IgG2a',
       'Human-PD-L1', 'Mouse-CD71', 'Human-CD163'],
      dtype='object')
Index(['mouse_CD5', 'mouse_CD68', 'mouse_CD4', 'mouse_rat_CD29', 'mouse_CD8a',
       'mouse_CD3', 'mouse_human_CD44', 'mouse_rat_human_CD27', 'mouse_CD90_2',
       'mouse_CD11c', 'mouse_CD31', 'mouse_F4_80', 'mouse_human_CD45R_B220',
       'Rat_IgG2a', 'mouse_human_CD11b', 'mouse_CD19', 'Mouse_IgG2a',
       'mouse_Siglec_H', 'mouse_CD169_Siglec-1'],
      dtype='object')
Index(['mouse_CD5', 'mouse_CD4', 'mouse_CD68', 'mouse_rat_CD29', 'mouse_CD8a',
       'mouse_CD3', 'mouse_human_CD44', 'mouse_CD90_2', 'mouse_rat_human_CD27',
       'mouse_CD11c', 'mouse_CD31', 'mouse_F4_80', 'Rat_IgG2a',
       'mouse_human_CD45R_B220', 'mouse_CD19', 'mouse_human_CD11b',
       'Mouse_IgG2a', 'mouse_Siglec_H', 'mouse_CD169_Siglec-1'],
      dtype='object')
Index(['mouse_CD5', 'mouse_CD68', 'mouse_CD4', 'mouse_rat_CD29', 'mouse_CD8a',
       'mouse_CD3', 'mouse_human_CD44', 'mouse_CD90_2', 'mouse_rat_human_CD27',
       'mouse_CD11c', 'mouse_CD31', 'mouse_F4_80', 'mouse_human_CD45R_B220',
       'Rat_IgG2a', 'mouse_human_CD11b', 'mouse_CD19', 'Mouse_IgG2a',
       'mouse_Siglec_H', 'mouse_CD169_Siglec-1'],
      dtype='object')

In [55]:
thymus_adt_1 = rename(thymus_adt_1)
thymus_adt_2 = rename(thymus_adt_2)
thymus_adt_3 = rename(thymus_adt_3)
thymus_adt_4 = rename(thymus_adt_4)

In [56]:
print(thymus_adt_1.var_names)
print(thymus_adt_2.var_names)
print(thymus_adt_3.var_names)
print(thymus_adt_4.var_names)

Index(['mouse-CD8a', 'mouse-CD4', 'mouse-CD68', 'mouse-CD29', 'mouse-CD3',
       'mouse-CD19', 'mouse-CD31-Pecam', 'rat-IgG2b', 'mouse-CD38',
       'mouse-CD45R-B220', 'mouse-IgG2a', 'mouse-F480', 'mouse-CD169',
       'mouse-IgD', 'mouse-CD140a', 'mouse-CX3CR1', 'mouse-CD163',
       'mouse-CD304-Neuropilin-1', 'mouse-Ly-6C', 'mouse-CD226-DNAM-1',
       'mouse-P2RY12', 'mouse-P2X7R', 'human-CD8', 'mouse-CD14', 'mouse-CXCR4',
       'mouse-CD79b-Igb', 'mouse-CD335-NKp46', 'mouse-human-CD11b',
       'mouse-CD44', 'mouse-IgG1', 'human-CD11c', 'human-CD56', 'mouse-IgG2b',
       'human-IgG', 'mouse-CD88-C5aR', 'mouse-CD5', 'human-PD-1',
       'mouse-BST-1', 'human-CD3', 'mouse-CD90-2', 'mouse-Ly-6G', 'human-CD20',
       'human-CD11b', 'human-CD19', 'mouse-CD11c', 'mouse-IgM', 'mouse-CD40',
       'rat-IgG2a', 'human-PD-L1', 'mouse-CD71', 'human-CD163'],
      dtype='object')
Index(['mouse-CD5', 'mouse-CD68', 'mouse-CD4', 'mouse-rat-CD29', 'mouse-CD8a',
       'mouse-CD3', 'mouse-human-CD44', 'mouse-rat-human-CD27', 'mouse-CD90-2',
       'mouse-CD11c', 'mouse-CD31', 'mouse-F4-80', 'mouse-human-CD45R-B220',
       'rat-IgG2a', 'mouse-human-CD11b', 'mouse-CD19', 'mouse-IgG2a',
       'mouse-Siglec-H', 'mouse-CD169-Siglec-1'],
      dtype='object')
Index(['mouse-CD5', 'mouse-CD4', 'mouse-CD68', 'mouse-rat-CD29', 'mouse-CD8a',
       'mouse-CD3', 'mouse-human-CD44', 'mouse-CD90-2', 'mouse-rat-human-CD27',
       'mouse-CD11c', 'mouse-CD31', 'mouse-F4-80', 'rat-IgG2a',
       'mouse-human-CD45R-B220', 'mouse-CD19', 'mouse-human-CD11b',
       'mouse-IgG2a', 'mouse-Siglec-H', 'mouse-CD169-Siglec-1'],
      dtype='object')
Index(['mouse-CD5', 'mouse-CD68', 'mouse-CD4', 'mouse-rat-CD29', 'mouse-CD8a',
       'mouse-CD3', 'mouse-human-CD44', 'mouse-CD90-2', 'mouse-rat-human-CD27',
       'mouse-CD11c', 'mouse-CD31', 'mouse-F4-80', 'mouse-human-CD45R-B220',
       'rat-IgG2a', 'mouse-human-CD11b', 'mouse-CD19', 'mouse-IgG2a',
       'mouse-Siglec-H', 'mouse-CD169-Siglec-1'],
      dtype='object')

In [57]:
all_vars = pd.unique(thymus_adt_1.var_names.tolist() + thymus_adt_2.var_names.tolist() + 
                     thymus_adt_3.var_names.tolist() + thymus_adt_4.var_names.tolist())
len(all_vars)

59

In [58]:
def align_anndata_vars(adata, all_vars):
    from scipy.sparse import lil_matrix
    aligned_data = lil_matrix((adata.n_obs, len(all_vars)))
    
    var_index_map = {var: idx for idx, var in enumerate(all_vars)}
    
    for var_name in adata.var_names:
        aligned_data[:, var_index_map[var_name]] = adata[:, var_name].X
    
    return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))

thymus_adt_1_aligned = align_anndata_vars(thymus_adt_1, all_vars)
thymus_adt_2_aligned = align_anndata_vars(thymus_adt_2, all_vars)
thymus_adt_3_aligned = align_anndata_vars(thymus_adt_3, all_vars)
thymus_adt_4_aligned = align_anndata_vars(thymus_adt_4, all_vars)

/tmp/ipykernel_201194/1239153465.py:10: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))
/tmp/ipykernel_201194/1239153465.py:10: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))
/tmp/ipykernel_201194/1239153465.py:10: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))
/tmp/ipykernel_201194/1239153465.py:10: FutureWarning: X.dtype being converted to np.float32 from float64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  return ad.AnnData(X=aligned_data, obs=adata.obs, var=pd.DataFrame(index=all_vars))

In [59]:
thymus_adt_1_aligned.obsm['spatial'] = thymus_adt_1.obsm['spatial']
thymus_adt_2_aligned.obsm['spatial'] = thymus_adt_2.obsm['spatial']
thymus_adt_3_aligned.obsm['spatial'] = thymus_adt_3.obsm['spatial']
thymus_adt_4_aligned.obsm['spatial'] = thymus_adt_4.obsm['spatial']

In [60]:
thymus_adt = ad.concat([thymus_adt_1_aligned, thymus_adt_2_aligned, thymus_adt_3_aligned, thymus_adt_4_aligned], axis=0)

In [61]:
thymus_adt.var.index = thymus_adt.var.index.str.replace('human-', '', regex=True)
thymus_adt.var.index = thymus_adt.var.index.str.replace('mouse-', '', regex=True)
thymus_adt.var.index = thymus_adt.var.index.str.replace('rat-', '', regex=True)
thymus_adt.var['adt_name'] = thymus_adt.var.index.str.split('-').str[0]

In [62]:
gene_tab = pd.read_csv('/home/wsg/BM/pipeline/config/gene_adt_tab.tsv', sep=' ', header=0)
gene_tab['gene_name'] = gene_tab['Symbol'].str.capitalize()

In [63]:
adt_new_var = pd.merge(thymus_adt.var, gene_tab, left_on='adt_name', right_on='ADT', how='left')
adt_new_var.astype(str)

   adt_name   Symbol    ADT          ADT_Type gene_name
0      CD8a      nan    nan               nan       nan
1       CD4      CD4    CD4   Approved.symbol       Cd4
2      CD68      nan    nan               nan       nan
3      CD29    ITGB1   CD29           Aliases     Itgb1
4       CD3      nan    nan               nan       nan
5      CD19     CD19   CD19   Approved.symbol      Cd19
6      CD31   PECAM1   CD31           Aliases    Pecam1
7     IgG2b      nan    nan               nan       nan
8      CD38     CD38   CD38   Approved.symbol      Cd38
9     CD45R      nan    nan               nan       nan
10    IgG2a      nan    nan               nan       nan
11     F480      nan    nan               nan       nan
12    CD169  SIGLEC1  CD169           Aliases   Siglec1
13      IgD      nan    nan               nan       nan
14   CD140a      nan    nan               nan       nan
15   CX3CR1      nan    nan               nan       nan
16    CD163    CD163  CD163   Approved.symbol     Cd163
17    CD304     NRP1  CD304           Aliases      Nrp1
18       Ly      nan    nan               nan       nan
19    CD226    CD226  CD226   Approved.symbol     Cd226
20   P2RY12      nan    nan               nan       nan
21    P2X7R      nan    nan               nan       nan
22      CD8     CD8A    CD8  Previous.symbols      Cd8a
23     CD14     CD14   CD14   Approved.symbol      Cd14
24    CXCR4      nan    nan               nan       nan
25    CD79b      nan    nan               nan       nan
26    CD335     NCR1  CD335           Aliases      Ncr1
27    CD11b    ITGAM  CD11b           Aliases     Itgam
28     CD44     CD44   CD44   Approved.symbol      Cd44
29     IgG1      nan    nan               nan       nan
30    CD11c    ITGAX  CD11c           Aliases     Itgax
31     CD56    NCAM1   CD56           Aliases     Ncam1
32    IgG2b      nan    nan               nan       nan
33      IgG      nan    nan               nan       nan
34     CD88    C5AR1   CD88           Aliases     C5ar1
35      CD5      CD5    CD5   Approved.symbol       Cd5
36       PD      nan    nan               nan       nan
37      BST      nan    nan               nan       nan
38      CD3      nan    nan               nan       nan
39     CD90      nan    nan               nan       nan
40       Ly      nan    nan               nan       nan
41     CD20    MS4A1   CD20  Previous.symbols     Ms4a1
42    CD11b    ITGAM  CD11b           Aliases     Itgam
43     CD19     CD19   CD19   Approved.symbol      Cd19
44    CD11c    ITGAX  CD11c           Aliases     Itgax
45      IgM      nan    nan               nan       nan
46     CD40     CD40   CD40   Approved.symbol      Cd40
47    IgG2a      nan    nan               nan       nan
48       PD      nan    nan               nan       nan
49     CD71     TFRC   CD71           Aliases      Tfrc
50    CD163    CD163  CD163   Approved.symbol     Cd163
51     CD29    ITGB1   CD29           Aliases     Itgb1
52     CD44     CD44   CD44   Approved.symbol      Cd44
53     CD27     CD27   CD27   Approved.symbol      Cd27
54     CD31   PECAM1   CD31           Aliases    Pecam1
55       F4      nan    nan               nan       nan
56    CD45R      nan    nan               nan       nan
57   Siglec      nan    nan               nan       nan
58    CD169  SIGLEC1  CD169           Aliases   Siglec1

In [64]:
thymus_adt.var = adt_new_var
thymus_adt = thymus_adt[:, ~thymus_adt.var['gene_name'].isna()]
thymus_adt.var = thymus_adt.var.set_index('gene_name')

/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [65]:
thymus_adt.obs

         orig.ident      x      y     batch
0_22_1       sample   8917  13284  thymus_1
0_33_1       sample   8917  14384  thymus_1
0_40_1       sample   8917  15084  thymus_1
0_41_1       sample   8917  15184  thymus_1
0_42_1       sample   8917  15284  thymus_1
...             ...    ...    ...       ...
59_113_4     sample  16082  19099  thymus_4
52_82_4      sample  15382  15999  thymus_4
30_23_4      sample  13182  10099  thymus_4
42_88_4      sample  14382  16599  thymus_4
36_31_4      sample  13782  10899  thymus_4

[17824 rows x 4 columns]

In [66]:
output_path = "/home/wsg/BM/data/SPATIAL/RNA+ADT/thymus"
thymus_adt.write_h5ad("{}/thymus-CITE_seq-raw-ADT-counts.h5ad".format(output_path))

## spleen

In [80]:
spleen_PATH_1 = "/home/shaliu_fu/joint_bench/demo_notebook/input/spatial/Data_SpatialGlue/Dataset1_Mouse_Spleen1"
spleen_PATH_2 = "/home/shaliu_fu/joint_bench/demo_notebook/input/spatial/Data_SpatialGlue/Dataset2_Mouse_Spleen2"

In [81]:
spleen_rna_1 = sc.read_h5ad("{}/adata_RNA.h5ad".format(spleen_PATH_1))
spleen_rna_2 = sc.read_h5ad("{}/adata_RNA.h5ad".format(spleen_PATH_2))

/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")
/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

In [82]:
print(spleen_rna_1)
print(spleen_rna_2)

AnnData object with n_obs × n_vars = 2568 × 32285
    var: 'gene_ids', 'feature_types', 'genome'
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 2768 × 32285
    var: 'gene_ids', 'feature_types', 'genome'
    obsm: 'spatial'

In [83]:
adata = spleen_rna_1
adata.var['gene_name'] = adata.var_names
adata.var_names = adata.var['gene_ids']
spleen_rna_1 = adata

adata = spleen_rna_2
adata.var['gene_name'] = adata.var_names
adata.var_names = adata.var['gene_ids']
spleen_rna_2 = adata

In [84]:
spleen_rna_1.obs_names = [name + "_1" for name in spleen_rna_1.obs_names]
spleen_rna_2.obs_names = [name + "_2" for name in spleen_rna_2.obs_names]

In [85]:
spleen_rna_1.obs['batch'] = 'spleen_1'
spleen_rna_2.obs['batch'] = 'spleen_2'

In [86]:
spleen_rna = ad.concat([spleen_rna_1, spleen_rna_2], axis=0)
spleen_rna.var = spleen_rna_1.var

In [87]:
spleen_rna.var = spleen_rna.var.astype(str)

In [88]:
output_path = "/home/wsg/BM/data/SPATIAL/RNA+ADT/spleen"

spleen_rna.write_h5ad("{}/spleen-CITE_seq-raw-RNA-counts.h5ad".format(output_path))

In [97]:
spleen_adt_1.obs['batch'] = 'spleen_1'
spleen_adt_2.obs['batch'] = 'spleen_2'

In [94]:
spleen_adt_1 = sc.read_h5ad("{}/adata_ADT.h5ad".format(spleen_PATH_1))
spleen_adt_2 = sc.read_h5ad("{}/adata_ADT.h5ad".format(spleen_PATH_2))

In [95]:
print(spleen_adt_1)
print(spleen_adt_2)

AnnData object with n_obs × n_vars = 2568 × 21
    obsm: 'spatial'
AnnData object with n_obs × n_vars = 2768 × 21
    obsm: 'spatial'

In [96]:
spleen_adt_1.obs_names = [name + "_1" for name in spleen_adt_1.obs_names]
spleen_adt_2.obs_names = [name + "_2" for name in spleen_adt_2.obs_names]

In [98]:
spleen_adt = ad.concat([spleen_adt_1, spleen_adt_2], axis=0)
spleen_adt.var = spleen_adt_1.var

In [99]:
spleen_adt.var['adt_name'] = spleen_adt.var.index

In [100]:
gene_tab = pd.read_csv('/home/wsg/BM/pipeline/config/gene_adt_tab.tsv', sep=' ', header=0)
gene_tab['gene_name'] = gene_tab['Symbol'].str.capitalize()

In [101]:
adt_new_var = pd.merge(spleen_adt.var, gene_tab, left_on='adt_name', right_on='ADT', how='left')
adt_new_var.astype(str)

spleen_adt.var = adt_new_var
spleen_adt = spleen_adt[:, ~spleen_adt.var['gene_name'].isna()]

adt_new_var = pd.merge(spleen_adt.var, spleen_rna.var, left_on='gene_name', right_on='gene_name', how='left')
adt_new_var.astype(str)

spleen_adt.var = adt_new_var
spleen_adt.var = spleen_adt.var.set_index('gene_ids')

/home/wsg/software/miniconda3/envs/metrics/lib/python3.9/site-packages/anndata/_core/anndata.py:121: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [102]:
output_path = "/home/wsg/BM/data/SPATIAL/RNA+ADT/spleen"
spleen_adt.write_h5ad("{}/spleen-CITE_seq-raw-ADT-counts.h5ad".format(output_path))